h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #56b381;
}
h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #56b381;
}
p{
    line-height: 1.5;
}
img{
    border-width: 5px;
    border-color: #9B8BF4;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}
ul{
    display: inline-block;
    margin-left: 50px;
}